#canvas,
#canvas-div,
#empty-canvas {
    position: fixed;
}

svg#canvas-svg {
    // border: 3px blue solid;
    background: white;
    box-sizing: border-box;
}

#empty-canvas {
    background: $EmptyCanvas-background;
}

// campi nel svg
.label text,
.inner-place-field {
    text-anchor: middle;
}

.inner-place-field {
    font-family: "Verdana";
    alignment-baseline: middle;
}

.arc-point {
    fill: #aaa;
    stroke-width: 0;
}