#control-panel {
    position: fixed;
    scroll-behavior: smooth;
    overflow-y: scroll; // border: 2px red solid;
    background: $ControlPanel-background;
    box-sizing: border-box;
    font-size: 13px;
    div.cp-content {
        div.cp-block {
            padding: 10px;
            border-bottom: 1px solid $ControlPanel-Separator-color;
            div.cp-header {
                font-weight: bold;
                text-align: center;
                font-size: 15px;
            }
            div.cp-title {
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 10px;
            }
            div.cp-comp:not(:last-child) {
                margin-bottom: 5px;
            }
            div.cp-comp {
                width: 100%;
                div.cp-comp-title {
                    // background: red;
                    // width: 50%;
                }
            }
            .cp-comp-number,
            .cp-comp-text,
            .cp-comp-color,
            .cp-comp-checkbox,
            .cp-comp-select {
                &>form {
                    display: flex;
                    flex-wrap: wrap;
                }
                .cp-comp-title {
                    width: 50%;
                }
                .cp-comp-input {
                    width: 50%;
                    input,
                    select {
                        width: 100px;
                    }
                }
            }
            .cp-comp-tension {
                .cp-comp-tension-row {
                    display: flex;
                    flex-wrap: wrap;
                }
                .cp-comp-title {
                    width: 50%;
                }
                .cp-comp-input {
                    width: 50%;
                    input,
                    select {
                        width: 100px;
                    }
                }
            }
            .cp-comp-arcpoints {
                thead {
                    td {
                        text-align: center;
                    }
                }
                tbody {
                    .cp-comp-ap-name {
                        width: 30px;
                    }
                    .cp-comp-ap-x,
                    .cp-comp-ap-y,
                        {
                        width: 60px;
                        input {
                            width: 50px;
                        }
                    }
                    .cp-comp-ap-canc {
                        color: lightgrey;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            .cp-comp-selectfile {
                display: flex;
                flex-wrap: wrap;
                .cp-comp-title {
                    width: 30px;
                }
                .cp-comp-input {
                    width: 150px;
                    input {
                        width: 140px;
                    }
                }
                .cp-comp-btns {
                    i {
                        color: lightgrey;
                        margin-left: 7px;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
        input:disabled {
            cursor: not-allowed;
        }
    }
}