// Heights
$modal-height: 500px;
$title-height: 30px;
$margin-height: 20px;
$margin-above-button: 10px;
$button-height: 30px;
$section-height: ($modal-height - $title-height - 3 * $margin-height - $margin-above-button - $button-height) /2 ;

$section-title-height: 25px;
$section-content-height: $section-height - $section-title-height;

$margin-side: 20px;

#file-selector {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144);
    z-index: 100;
    @include no-higlight();

    & > .file-selector-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 800px;
        height: $modal-height;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        background-color: white;

        & > .file-selector-header {
            background-color: $EmptyCanvas-background;
            color: $TabBar-background;
            text-align: center;
            height:$title-height;
            line-height: $title-height;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            & > .file-selector-close-button {
                display: block;
                float: right;
                color: rgb(133, 133, 133);
                margin-right: 10px;

                &:hover {
                    color: $TabBar-background;
                }
            }
        }

        & > .file-selector-section {
            box-sizing: border-box;
            border: 1px solid $EmptyCanvas-background;
            margin-top: $margin-height;
            margin-left: $margin-side;
            margin-right: $margin-side;
            height: $section-height;

            & > .file-selector-section-title {
                background-color: $EmptyCanvas-background;
                color: $TabBar-background;
                height: $section-title-height;
                line-height: $section-title-height;
                padding-left: 10px;
            }

            & > .file-selector-section-content {
                height: $section-content-height;
                overflow-x: auto;
                overflow-y: scroll;

                & > .file-selector-row {
                    padding: 2px 7px; 
                    font-size: 15px;

                    &:hover {
                        background-color: $EmptyCanvas-background;
                    }

                    &.selected {
                        background-color: $MenuItem-hover-background;
                        color: $MenuItem-hover-color;
                    }
                }
            }
        }

        & > .file-selector-button {
            height: $button-height;
            margin-top: $margin-above-button;
            margin-left: $margin-side;
            margin-right: $margin-side;

            & > button {
                height: $button-height;
                float: right;
                border-radius: 3px;
                background-color: $EmptyCanvas-background;
                font-size: 15px;

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}