#menu-bar {
    position: fixed;
    white-space: nowrap;
    font-size: 15px;
    background-color: $MenuBar-background;
}

.menu {
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
    padding: 0 5px;
    @include no-higlight();
    &:hover {
        background-color: $Menu-hover-color;
    }
    &:hover .menu-content {
        display: block;
    }
}

.menu-content {
    position: absolute;
    display: none;
    &:hover {
        display: block;
    }
}

.context-menu {
    position: fixed;
}

.menu-content,
.context-menu {
    @include no-higlight();
    background-color: $MenuContent-background;
    padding: 5px 0; 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    table,
    tbody {
        padding: 0;
        margin: 0;
        border: 0;
    }
    table {
        border-collapse: collapse;
    }
}

.menu-item {
    padding: 2px 15px 2px 5px;
    &:hover {
        background-color: $MenuItem-hover-background;
        color: $MenuItem-hover-color;
        .menu-item-shortcut {
            color: $MenuItem-hover-color;
        }
    }
    .menu-item-selected {
        width: 15px;
        padding-left: 7px;
    }
    .menu-item-name {}
    .menu-item-shortcut {
        padding: 0 7px;
        color: $MenuItemShortcut-color;
        text-align: right;
    }
}

.menu-item-disabled {
    color: $MenuItem-disabled-color;
    &:hover {
        color: $MenuItem-disabled-hover-color;
        background: $MenuItem-disabled-hover-background;
        .menu-item-shortcut {
            color: $MenuItemShortcut-color;
        }
    }
}

.menu-sep-top {
    height: 5px;
    border-bottom: 1px solid $MenuSeparator-color;
}

.menu-sep-bottom {
    height: 5px; // border-top: 1px solid $MenuSeparator-color;
}