#tab-bar {
    position: fixed;
    background: $TabBar-background;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-left: 1px solid $Tab-border;
}

.tab {
    font-size: 14px;
    color: $Tab-color;
    height: 100%;
    border-right: 1px solid $Tab-border;
    @include no-higlight();
    // &:not(:last-child) {
    //     border-right: 0;
    // }
    box-sizing: border-box;
    display: inline-block;
    padding: 0 15px;
    &.tab-active {
        background: $Tab-active-background;
        color: $Tab-active-color;
        border-bottom: 3px solid $Tab-active-border
    }
    .tab-name {
        line-height: 37px;
        display: inline-block;
        &.tab-mod {
            font-style: italic;
        }
    }
    .tab-side {
        display: inline-block;
        width: 20px;
        box-sizing: content-box;
    }
    i.icon-mod {
        color: $Tab-color;
    }
    i.close-button {
        display: none;
        padding-left: 12px;
        color: $Tab-color;
    }
    &.tab-active,
    &:hover {
        i.close-button {
            display: inline;
            &:hover {
                color: $Tab-active-border;
            }
        }
    }
}
