#toolbar {
    position: fixed;
    background: $ToolBar-background;
    box-sizing: border-box;
    border: 1px solid $ToolBar-border-color;
    // overflow-x: scroll;
    // overflow-y: hidden;
    white-space: nowrap;
    .tool,
    .dropdown,
    .tool-sep {
        display: inline-block;
    }
    .dropdown {
        .dropdown-content {
            position: absolute;
            display: none;
            font-size: 10px;
            background: $Tool-DropdownContent-background;
            box-sizing: border-box;
            border: 1px solid $ToolBar-border-color;
            border-radius: 3px;
            border-top-left-radius: 0;
            .dropdown-item {
                padding: 5px 15px;
                &:hover {
                    background: $Tool-DropdownItem-hover-background;
                }
            }
        }
        &:hover .dropdown-content {
            display: block;
        }
        i.dropdown-icon {
            margin-left: 5px;
        }
    }
    .tool {
        font-size: 15px;
        height: 35px;
        color: $Tool-color;
        background: $Tool-background;
        margin-left: 3px;
        box-sizing: border-box;
        border: 1px solid $Tool-border-color;
        border-radius: 3px;
        &:focus {
            outline: 0
        }
        &:hover {
            color: $Tool-hover-color;
        }
        &.tool-active {
            border-bottom: 1px solid $Tool-active-border-bottom-color;
            color: $Tool-active-color;
        }
        i.tool-icon {
            margin-right: 5px;
        }
    }
}
