.tree-view {
    position: fixed;
    background: $TreeView-background;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tree-view-header {
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    @include no-higlight();
    color: $TreeItem-active-color;
    background-color: $TreeItem-hover-background;
}

.tree-view-content {
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 13px;
}

.tree-view-button {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    
    & > button {
        width: 60%;
        height: 20px;
        border-radius: 5px;
        background-color: $TreeView-background;
        border-color: $TreeItem-color;
        color: $TreeItem-color;
        &:hover {
            background-color: $TreeItem-hover-background;
        }
        &:focus {
            outline: 0;
        }

    }
}

.tree-item {
    color: $TreeItem-color;
    padding: 5px 15px;
    @include no-higlight();
    &.tree-item-active {
        color: $TreeItem-active-color
    }
    &:hover {
        background: $TreeItem-hover-background;
    }
}