// TAB BAR
$TabBar-background: #212734;

$Tab-color: #73869B;
$Tab-border: #343D4B;

$Tab-active-background: #272D39;
$Tab-active-color: #D0CFC6;
$Tab-active-border: #FFCD53;

// CANVAS
$EmptyCanvas-background: rgb(230, 230, 230);

// CONTROL PANEL
$ControlPanel-background: #F5F5F5;

$ControlPanel-Separator-color: #C0C0C0;

// TOOL BAR
$ToolBar-background: $TabBar-background;
$ToolBar-border-color: $Tab-border;

$Tool-color: $Tab-color;
$Tool-background: $ToolBar-background;
$Tool-border-color: $ToolBar-background;

$Tool-hover-color: $Tab-active-color;

$Tool-active-border-bottom-color: $Tab-active-border;
$Tool-active-color: $Tab-active-color;

$Tool-DropdownContent-background: #FFFFFF;
$Tool-DropdownItem-hover-background: rgb(241, 241, 241);

// MENU BAR
$MenuBar-background: $EmptyCanvas-background;

$Menu-hover-color: yellow;

$MenuContent-background: rgb(243, 243, 243);

$MenuItem-hover-color: white;
$MenuItem-hover-background: rgb(33, 125, 247);

$MenuItemShortcut-color: grey;

$MenuItem-disabled-color: lightgrey;
$MenuItem-disabled-hover-color: $MenuItem-disabled-color;
$MenuItem-disabled-hover-background: $MenuContent-background;

$MenuSeparator-color: $EmptyCanvas-background;

// TREE VIEW
$TreeView-background: $TabBar-background;

$TreeItem-color: $Tab-color;
$TreeItem-active-color: $Tab-active-color;
$TreeItem-hover-background: $Tab-active-background;