html,
body {
    padding: 0;
    margin: 0; // background-color: aquamarine;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial; // font-family: Verdana, Geneva, Tahoma, sans-serif
}

@mixin no-higlight() {
    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Safari */

    -khtml-user-select: none;
    /* Konqueror HTML */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}